{% assign url = block.data.url | strip %}
{% assign caption = block.data.caption | strip %}
<tr class="block block--image {% if block.data.flush %}block--image--flush{% endif %}">
    <td>
        {% if url != null and url != "" %}
        <a href="{{ url }}" target="_blank">
        {% endif %}
        <img src="{{ block.data.image.src }}" width="100%" alt="{{ block.data.image.alt }}" title="{{ block.data.image.title }}" border="0" style="display:block; max-width:100%!important; height: auto!important;" class="g-img" />
        {% if url != null and url != "" %}
        </a>
        {% endif %}
        {% if caption != null and caption != "" %}
        <br>
        <div>
            {{ caption }}
        </div>
        {% endif %}
    </td>
</tr>
